trunk/appenda-bundle-echo/src/main/resources/Appenda/Service/Echo/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.appenda.com/echo"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.appenda.com/echo">

	<element name="echoRequest" type="tns:EchoType"></element>

	<element name="echoResponse" type="tns:EchoType"></element>

	<complexType name="EchoType">
		<attribute name="message" type="string"></attribute>
	</complexType>
</schema>